In [1]:
%reload_ext sql
%sql sqlite:///./test-db

In [2]:
%%sql
CREATE TABLE Users(
    User_ID INTEGER PRIMARY KEY,
    Rating INTEGER,
    Location CHAR(20),
    Country CHAR(30)
);

 * sqlite:///./test-db
Done.

[]

In [3]:
%sql SELECT sql FROM sqlite_master;

 * sqlite:///./test-db
Done.

[('CREATE TABLE Users( User_ID INTEGER PRIMARY KEY,\n    Rating INTEGER,\n    Location CHAR(20),\n    Country CHAR(30)\n)',)]

In [4]:
%sql select * FROM Users

 * sqlite:///./test-db
Done.

[]

In [8]:
%%sql
.separator |
.import users.dat Users

 * sqlite:///./test-db
(sqlite3.OperationalError) near ".": syntax error
[SQL: .separator | .import users.dat Users]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
# %%sql
# .separator |
# .import practice.dat Bids

In [ ]:
# %%sql
# .separator |
# .import practice.dat Items